/* ==================================================
 _mixin.scss
 mixinスタイル 定義
================================================== */
@use "sass:math";
@use "../config/variables" as *;
@use "../config/function" as *;
@use "../config/font" as *;
@use "../config/mq" as *;
@use "./animation" as *;
/* ==================================================
 画面最大幅（PC画面をレスポンシブ対応させないための横幅）
================================================== */
@mixin minWidth {
	min-width: 1400px;
}

/* ==================================================
 コンテンツ最大幅
================================================== */
@mixin maxWidth {
	max-width: 1280px;
	margin: 0 auto;
}

/* ==================================================
 内部コンテンツ幅
================================================== */
@mixin innerWidth {
	max-width: 960px;
	margin: 0 auto;
}