/* ==================================================
 _mq.scss
 メディアクエリ 定義
================================================== */
@use "sass:math";
@use "./variables" as *;

/* ==================================================
 メディアクエリ 基本サイズ
================================================== */
$pc: 1080px;
$tab: 768px;
$sp: 480px;

/* ==================================================
 メディアクエリ mixin定義
 ※以下は定義方法
.class {
 width: 50%;
 @include tab {
		width: 100%
 }
}
================================================== */
$breakpoints: (
  // 767px以下(スマホ)のモニタで適用
  "sp": "screen and (max-width: 767px)",
  // 768px以上のタブレットやモニタで適用
  "tab": "screen and (max-width: 1024px)",
  // 1025px以上のモニタで適用
  "pc": "screen and (min-width: 1025px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ==================================================
 デバイス非表示・表示
================================================== */
.is-pc {
	display: none;
}

.is-tab {
	display: none;
}

.is-sp {
	display: none;
}