/* ==================================================
 _variables.scss
 変数 定義
================================================== */

/* ==================================================
 カラー変数定義
================================================== */
/* ==== サイト基本カラー定義 ==== */
$color_base: #fff;
$color_main: black;
$color_accent: red;

/* ==== 白黒カラー定義 ==== */
$color_white: #fff;
$color_black: #ccc;

/* ==== ボタンカラー定義 ==== */
$color_primary-btn: black;
$color_secondary-btn: red;
$color_hover: gray;

/* ==== ボーダーカラー定義 ==== */
$color_border: #C4C4C4;

/* ==================================================
 background-imageディレクトリ 変数定義
================================================== */
$image_dir: '../image/';